<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokéFinder</title>
    <link rel="icon" href="/images/pokeball.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") %>

    <main id="main" role="main">
      <section class="result-section">
        <div class="app-container">
          <div class="title-container">
            <h1 id="main-title">PokéFinder</h1>
            <h2 id="sub-title">
              Search for a Pokémon to see its details here :)
            </h2>
          </div>

          <div class="info-container">
            <% if (!pokemon) { %>
            <div class="pokeball-container">
              <img
                id="pokeball-animation"
                src="/images/pokeball-animation.gif"
                alt="pokeball"
              />
            </div>
            <% } %> <% if (pokemon) { %>
            <div class="image-container">
              <img id="pokemon-image" src="<%= image %>" alt="<%= pokemon %>" />
            </div>
            <div class="stats-container">
              <p class="stats-p">
                <span class="label">Name: </span><%-
                pokemon.charAt(0).toUpperCase() + pokemon.slice(1) %>
              </p>
              <p class="stats-p">
                <span class="label">Type: </span><%-
                type.charAt(0).toUpperCase() + type.slice(1) %>
              </p>
              <p class="stats-p">
                <span class="label">Height: </span><%= (height /
                10).toLocaleString('en-US', { minimumFractionDigits: 1,
                maximumFractionDigits: 1 }) %> m
              </p>
              <p class="stats-p">
                <span class="label">Weight: </span><%= (weight /
                10).toLocaleString('en-US', { minimumFractionDigits: 1,
                maximumFractionDigits: 1 }) %> kg
              </p>
            </div>
            <% } %>
          </div>
          <% if (error) { %>
          <div class="stats-container">
            <p id="error-message"><%= error %></p>
          </div>
          <% } %>
        </div>

        <div class="form-container">
          <form action="/" method="POST" class="search-form">
            <input
              id="form-input"
              type="text"
              name="pokemonName"
              placeholder="Pokémon name"
              required
            />
            <button id="submit-btn" type="submit">Search</button>
          </form>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
